body{
    background-color:#ff9966;
    font-family: 'Roboto Mono', monospace;
    
}
.resultados {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    padding: 10px;
    row-gap: 10px;
    column-gap: 5px;
    margin-top: 10px;
}

/* Cambia el tamaño */

.resultados img {
      
    width: 300px; 
    height: 200px;
}
